<template>
  <v-card color="white" style="padding-left: 0; padding-right: 0">
    <v-row v-if="this.type === 'Choice'"
      ><v-col>
        <v-card-subtitle>{{ this.question }}</v-card-subtitle>
        <v-card style="padding-left: 20px; padding-right: 0">
          <v-radio-group v-model="radioColor">
            <v-radio color="blue" v-for="n in 3" :key="n" :label="color(n)" :value="n"></v-radio>
          </v-radio-group>
        </v-card> </v-col
      ><v-col>
        <v-card-subtitle>{{ this.kerdes }}</v-card-subtitle>
        <v-card style="padding-left: 20px; padding-right: 0">
          <v-radio-group v-model="radioColor">
            <v-radio color="blue" v-for="n in 3" :key="n" :label="color(n)" :value="n"></v-radio>
          </v-radio-group>
        </v-card>
      </v-col>
    </v-row>
    <v-row v-if="this.type === 'Scale'"
      ><v-col>
        <v-radio-group v-model="radioColor">
          <table style="border-collapse: collapse">
            <thead>
              <tr>
                <td style="border: none"></td>
                <td
                  style="border: 1px solid; background-color: lightgray; text-align: center; width: 80px"
                  v-for="n in choiches.length"
                  :key="n"
                >
                  {{ choiches[n - 1] }}
                </td>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td style="border: 1px solid; padding-left: 10px">n.&nbsp;{{ this.kerdes }}</td>

                <td style="border: 1px solid; text-align: center" v-for="n in choiches.length" :key="n">
                  <input type="radio" name="group" />
                </td>
              </tr>
            </tbody>
          </table> </v-radio-group></v-col
      ><v-col>
        <v-card-subtitle>{{ this.kerdes }}</v-card-subtitle>
        <v-card style="padding-left: 20px; padding-right: 0">
          <v-radio-group v-model="radioColor">
            <v-radio color="blue" v-for="n in 3" :key="n" :label="color(n)" :value="n"></v-radio>
          </v-radio-group>
        </v-card>
      </v-col>
    </v-row>
    <v-row v-if="this.type === 'Text' || this.type === 'Number'"
      ><v-col>
        <v-card style="padding-left: 20px; padding-right: 0">
          {{ this.question }}:<input type="text" size="40" />
        </v-card> </v-col
      ><v-col>
        <v-card style="padding-left: 20px; padding-right: 0">
          {{ this.kerdes }}: <input type="text" size="40" />
        </v-card>
      </v-col>
    </v-row>
  </v-card>
</template>

<!-- vue javascript section -->
<script>
export default {
  name: 'Choiche',
  // component properties
  props: {
    question: String,
    kerdes: String,
    choiches: {
      type: Array,
      default: [],
    },
    valasztek: {
      type: Array,
      default: [],
    },
    choice: Number,
    type: String,
  },
  // local data
  data: () => ({
    dialog: false,
    radioColor: -1,
    resp: 0,
    // headers
    headers: [
      { text: 'Actor', value: 'user' },
      { text: 'Changed at', value: 'cangedAt' },
      { text: 'Value', sortable: false, value: 'origValue' },
    ],
    hFound: false,
    cVFound: false,
  }),
  computed: {
    colors() {
      const ret = []
      ret.push(this.$t('red'))
      ret.push(this.$t('green'))
      ret.push(this.$t('blue'))
      return ret
    },
  },
  // vue watch historyList and currentValue changes
  watch: {
    resp(newVal, oldVal) {
      console.log('watch resp oldval: ' + oldVal + '   newVal: ' + newVal)
    },
  },
  mounted() {
    console.log('mounted ' + this.question)
    // this.init(this.title, this.currentValue)
  },
  created() {
    console.log('Choiche created', this.type)
  },

  updated() {
    console.log('Choiche updated', this.type)
  },

  // vue methods
  methods: {
    // load history data and replace codes with values from maps
    color(n) {
      return this.colors[n - 1]
    },
    getValue(origValue, property) {
      if (origValue == null || origValue[property] == null) {
        return '-'
      }

      return origValue[property]
    },
    // find user name by id
    getUserName(pUserId) {
      const userId = parseInt(pUserId)
      if (userId === 99999) {
        return 'System'
      }

      const us = this.$store.getters.getUsers

      if (us != null) {
        for (let i = 0; i < us.length; i++) {
          if (us[i].id === userId) {
            return us[i].name
          }
        }
      }

      return ''
    },
  },
}
</script>

<!-- local css styles -->
<style scoped>
.no-margin {
  margin: 0;
}
[role='listitem'] {
  border-bottom: 1px solid rgb(224, 224, 224);
  padding-top: 15px;
  padding-bottom: 15px;
}
[role='listitem']:last-of-type {
  border-bottom: 0px;
}
.v-card__text {
  max-height: 400px;
  overflow-x: hidden;
  overflow-y: auto;
  padding-top: 0px;
  padding-bottom: 0px;
}

li {
  white-space: normal;
}

.hidden-history-button {
  display: none;
}
</style>
