<template>
  <v-app style="background-color: #eeeeee">
    <v-main>
      <v-container style="background-color: #f0ebf8">
        <nuxt />
      </v-container>
    </v-main>
    <v-footer :absolute="!fixed" app>
      <span>&copy; {{ new Date().getFullYear() }} I.T. Bt.</span><v-spacer></v-spacer
      ><LanguageSwitcher :languages="languages" :current-language="$i18n.locale" />
    </v-footer>
  </v-app>
</template>

<script>
import LanguageSwitcher from '~/components/LanguageSwitcher'
import Logo from '@/components/Logo'
import VuetifyLogo from '@/components/VuetifyLogo'

export default {
  components: {
    LanguageSwitcher,
  },
  data() {
    return {
      clipped: false,
      drawer: false,
      fixed: false,
      items: [
        {
          icon: 'mdi-apps',
          title: 'Welcome',
          to: '/',
        },
        {
          icon: 'mdi-chart-bubble',
          title: 'Inspire',
          to: '/inspire',
        },
      ],
      miniVariant: false,
      right: true,
      rightDrawer: false,
      title: 'Vuetify.js',
      languages: [
        {
          id: 'en',
          title: 'English',
          flagSrc: 'united-states.png',
        },
        {
          id: 'hu',
          title: 'Magyar',
          flagSrc: 'hungary.png',
        },
      ],
    }
  },
}
</script>
