<template>
  <div id="app">
    <v-app id="inspire">
      <v-card color="basil">
        <v-card-title class="text-center justify-center py-6">
          <h1 class="font-weight-bold display-3 basil--text">Admin panel</h1>
        </v-card-title>

        <v-tabs v-model="tab" background-color="transparent" color="basil" grow>
          <v-tab v-for="item in items" :key="item.key">
            {{ item.label }}
          </v-tab>
        </v-tabs>

        <v-tabs-items v-model="tab">
          <v-tab-item key="demogr">
            <v-card color="basil" flat>
              <v-card-title
                >Demografic data<v-spacer></v-spacer
                ><v-btn icon color="green"><v-icon>mdi-playlist-plus</v-icon></v-btn></v-card-title
              >
              <v-data-table :headers="headers" :items="demogrfields" @click:row="clickRow" dense hide-default-footer>
                <template v-slot:item.name="props">
                  <v-edit-dialog
                    :return-value.sync="props.item.name"
                    @save="save(props.item)"
                    @cancel="cancel"
                    @open="open('name', props.item.name)"
                    @close="close"
                  >
                    {{ props.item.name }}
                    <template v-slot:input>
                      <v-text-field v-model="props.item.name" label="Edit" single-line counter></v-text-field>
                    </template>
                  </v-edit-dialog>
                </template>
                <template v-slot:item.type="props">
                  <select
                    v-model="props.item.type"
                    style="padding-left: 2px; padding-right: 10px; border-style: solid; outline: none"
                    @change="save(props.item)"
                  >
                    <option v-for="itemo in types" :key="itemo.value" :value="itemo.name">
                      {{ itemo.name }}
                    </option>
                  </select>
                </template>
                <template v-slot:item.order="props">
                  <select
                    v-if="props.item.type === 'Choice' || props.item.type === 'Scale'"
                    v-model="props.item.order"
                    style="padding-left: 2px; padding-right: 10px; border-style: solid; outline: none"
                    @change="save(props.item)"
                  >
                    <option v-for="itemo in otypes" :key="itemo.value" :value="itemo.name">
                      {{ itemo.name }}
                    </option>
                  </select>
                </template>
                <template v-slot:item.choiches="props">
                  <v-list v-if="props.item.type === 'Choice' || props.item.type === 'Scale'" dense flat>
                    <v-list-item style="height: 28px" dense v-for="(answer, i) in props.item.choiches" :key="i">
                      <v-list-item-action
                        ><v-btn icon color="brown">{{ i }}<v-icon>mdi-delete</v-icon></v-btn></v-list-item-action
                      >
                      <v-list-item-content style="height: 28px">
                        <input
                          type="text"
                          name="fff"
                          size="60"
                          style="background-color: beige"
                          v-model="props.item.choiches[i]"
                        />
                      </v-list-item-content>
                    </v-list-item>
                    <v-subheader style="height: 28px"
                      >&nbsp;&nbsp;&nbsp;&nbsp;<v-btn icon color="green" @click="addc('choiches', props.item)"
                        ><v-icon>mdi-playlist-plus</v-icon></v-btn
                      >
                    </v-subheader>
                  </v-list>
                </template>
                <template v-slot:item.valasztek="props">
                  <v-list v-if="props.item.type === 'Choice' || props.item.type === 'Scale'" dense flat>
                    <v-list-item style="height: 28px" dense v-for="(answer, i) in props.item.valasztek" :key="i">
                      <v-list-item-action
                        ><v-btn icon color="brown">{{ i }}<v-icon>mdi-delete</v-icon></v-btn></v-list-item-action
                      >
                      <v-list-item-content style="height: 28px">
                        <input
                          type="text"
                          name="fff"
                          size="60"
                          style="background-color: beige"
                          v-model="props.item.valasztek[i]"
                        />
                      </v-list-item-content>
                    </v-list-item>
                    <v-subheader style="height: 20px"
                      >&nbsp;&nbsp;&nbsp;&nbsp;<v-btn icon color="green" @click="addc('valasztek', props.item)"
                        ><v-icon>mdi-playlist-plus</v-icon></v-btn
                      >
                    </v-subheader>
                  </v-list>
                </template>
              </v-data-table>
            </v-card>
            <v-card outlined
              ><Choiche
                :question="selQuestion"
                :choiches="selChoiches"
                :type="selType"
                :valasztek="selValsztek"
                :kerdes="selKerdes"
              ></Choiche>
            </v-card>
          </v-tab-item>
          <v-tab-item key="mcp">
            <v-card color="basil" flat> <v-card-title>Social Categorization</v-card-title></v-card>
          </v-tab-item>
          <v-tab-item key="expos">
            <v-card color="basil" flat> <v-card-title>Exposure</v-card-title></v-card>
          </v-tab-item>
          <v-tab-item key="aq">
            <v-card color="basil" flat>
              <v-card-title>AQ</v-card-title>
              <table style="border-collapse: collapse">
                <thead>
                  <tr>
                    <td style="border: none"></td>
                    <td
                      style="border: 1px solid; background-color: lightgray; text-align: center; width: 80px"
                      v-for="n in aqchoiches.length"
                      :key="n"
                    >
                      {{ aqchoiches[n - 1] }}
                    </td>
                  </tr>
                </thead>
                <tbody>
                  <tr v-for="k in aqquestions.length" :key="k">
                    <td style="border: 1px solid; padding-left: 10px; width: 800px">
                      {{ k }}.&nbsp;<input
                        type="text"
                        :value="aqquestions[k - 1]"
                        style="background-color: burlywood; width: 765px; padding-left: 5px; height: 18px"
                      />
                    </td>

                    <td style="border: 1px solid; text-align: center" v-for="n in aqchoiches.length" :key="n">
                      <input type="radio" name="group" />
                    </td>
                  </tr>
                </tbody>
              </table>
            </v-card>
          </v-tab-item>
          <!--
          <v-tab-item v-for="item in items" :key="item">
            <v-card color="basil" flat>
              <v-card-text>{{ text }}</v-card-text>
            </v-card>
          </v-tab-item>
          -->
        </v-tabs-items>
      </v-card>
    </v-app>
  </div>
</template>
<style scoped>
* {
  text-transform: none !important;
}
textarea:focus,
input:focus {
  outline: none;
}
#preview {
  display: flex;
  justify-content: center;
  align-items: center;
}

#preview img {
  max-width: 100%;
  max-height: 500px;
}
figure {
  display: inline-block;
}
.pre-formatted {
  white-space: pre;
}
/* Helper classes */
.basil {
  background-color: #fffbe6 !important;
}
.basil--text {
  color: #356859 !important;
}
select {
  -webkit-appearance: auto;
}
</style>

<script>
import axios from 'axios'
import Choiche from '~/components/Choiche'

export default {
  name: 'Alap',
  components: {
    Choiche,
  },
  data: () => ({
    tab: null,
    oitems: [
      { text: 'Real-Time', icon: 'mdi-clock' },
      { text: 'Audience', icon: 'mdi-account' },
      { text: 'Conversions', icon: 'mdi-flag' },
    ],
    items: [
      { label: 'Demografic data', key: 'demogr' },
      { label: 'Social Categorization', key: 'sc' },
      { label: 'Exposure', key: 'expos' },
      { label: 'AQ', key: 'aq' },
    ],
    demogrfields: [
      { name: 'Name', nev: 'Név', type: 'Text', order: 'forward', choiches: [], valasztek: [], ind: 0 },
      { name: 'Age', nev: 'Életkor', type: 'Number', order: 'forward', choiches: [], valasztek: [], ind: 1 },
      {
        name: 'Gender',
        nev: 'Nem',
        type: 'Choice',
        order: 'forward',
        choiches: ['a', 'b'],
        valasztek: ['hun_a', 'hun_b'],
        ind: 2,
      },
      {
        name: 'Do you agree with the pandemic restrictions?',
        nev: 'Egyetért a pandémiás korlátozásokkal?',
        type: 'Scale',
        order: 'forward',
        choiches: ['Not at all', 'Totaly'],
        valasztek: ['Egyáltalán nem', 'Teljesen'],
        ind: 3,
      },
    ],
    aqchoiches: ['Not at all', 'To some extend', 'Mostly', 'Totally'],
    aqquestions: [
      'question 1',
      'question 2',
      'question 3',
      'question 4',
      'question 5',
      'question 6',
      'question 7',
      'question 8',
    ],
    headers: [
      { text: 'Ind', value: 'ind' },
      { text: 'Preview en', value: 'preven' },
      { text: 'Preview hu', value: 'prevhu' },
      { text: 'Question', align: 'left', sortable: true, value: 'name' },
      { text: 'Kérdés', value: 'nev' },
      { text: 'Type', value: 'type' },
      { text: 'Order', value: 'order' },
      { text: 'Choiches', value: 'choiches' },
      { text: 'Lehetőségek', value: 'valasztek' },
    ],
    types: [
      { name: 'Text', value: 'text' },
      { name: 'Choice', value: 'choice' },
      { name: 'Scale', value: 'scale' },
      { name: 'Number', value: 'number' },
    ],
    otypes: [
      { name: 'Forward', value: 'forward' },
      { name: 'Reverse', value: 'reverse' },
      { name: 'Random', value: 'rand' },
    ],
    selQuestion: '',
    selKerdes: '',
    selType: 'Text',
    selChoiches: [],
    selValsztek: [],
    text:
      'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.',

    emailRules: [
      (v) => !!v || 'Email is required',
      (v) => /^\w+([.-]?\w+)*@\w+([.-]?\w+)*(\.\w{2,3})+$/.test(v) || 'Email address must be valid',
    ],
    requiredRule: [(v) => !!v || 'A mező kitöltése kötelező'],
    windowHeight: 0,
    windowWidth: 0,
    addUsers: [{ name: '', mail: '', status: 'Not complete' }],
    ditems: [],
    notactiveUsers: [],
    errors: [],
    editedIndex: -1,
    editedItem: {
      ceg: 'admin',
      name: '',
      registered: false,
      email: '',
      role: 'SUPERADMIN',
      active: false,
    },
    defaultItem: {
      ceg: '',
      name: '',
      registered: false,
      email: '',
      role: 'SUPERADMIN',
      active: true,
    },
  }),
  mounted() {
    this.$nextTick(function () {
      window.addEventListener('resize', this.getWindowWidth)
      window.addEventListener('resize', this.getWindowHeight)

      // Init
      this.getWindowWidth()
      this.getWindowHeight()
    })
    console.log('users mounted')
  },

  created() {
    console.log('created')
    // this.initialize()
  },

  beforeDestroy() {
    console.log('beforeDestroy')
    window.removeEventListener('resize', this.getWindowWidth)
    window.removeEventListener('resize', this.getWindowHeight)
  },
  methods: {
    getWindowWidth(event) {
      this.windowWidth = document.documentElement.clientWidth
    },

    getWindowHeight(event) {
      this.windowHeight = document.documentElement.clientHeight
    },
    onResize() {
      console.log('onResize ' + window.innerHeight)
      this.windowHeight = window.innerHeight
    },
    usersHeight(distr) {
      const uh = this.windowHeight - distr
      // console.log('usersHeight: ' + uh)
      return uh
    },
    clickRow(row) {
      console.log('clickRow', row)
      this.selQuestion = this.demogrfields[row.ind].name
      this.selKerdes = this.demogrfields[row.ind].nev
      this.selType = this.demogrfields[row.ind].type
      this.selChoiches = this.demogrfields[row.ind].choiches
      this.selValsztek = this.demogrfields[row.ind].valasztek
    },
    save(obj) {
      console.log('save type', obj)
    },
    savec(obj) {
      console.log('savec type', obj)
    },
    addc(what, obj) {
      console.log('addc ' + what + ' ', obj.ind)

      if (what === 'choiches') {
        if (!this.demogrfields[obj.ind].choiches) {
          this.demogrfields[obj.ind].choiches = []
        }
        this.demogrfields[obj.ind].choiches.push('')
      } else if (what === 'valasztek') {
        if (!this.demogrfields[obj.ind].valasztek) {
          this.demogrfields[obj.ind].valasztek = []
        }
        this.demogrfields[obj.ind].valasztek.push('')
      }
    },
    cancel() {
      this.snack = true
      this.snackColor = 'error'
      this.snackText = 'Canceled'
    },
    open(what, ch) {
      this.snack = true
      this.snackColor = 'info'
      this.snackText = 'Dialog opened'
      console.log('open' + what + ' ', ch)
    },
    close() {
      console.log('Dialog closed')
    },
  },
}
</script>
