<template>
  <v-app id="questionary" style="background-color: #eeeeee; margin: -36px">
    <br />
    <v-container v-if="step === 1">
      <v-card
        max-width="500"
        max-height="600"
        class="mx-auto"
        elevation="0"
        style="background-color: #eeeeee; padding-left: 0; padding-right: 0"
      >
        <v-system-bar color="#aaaaaa" height="10px">
          <v-spacer></v-spacer>
        </v-system-bar>

        <v-app-bar color="white">
          <v-toolbar-title>{{ $t('demogrdata') }}</v-toolbar-title>

          <v-spacer></v-spacer>
        </v-app-bar>
        <br />
        <v-container style="padding-left: 0; padding-right: 250px">
          <v-row dense>
            <v-card
              max-width="600"
              class="mx-auto"
              elevation="0"
              style="background-color: #eeeeee; padding-left: 0; padding-right: 0"
            >
              <table>
                <tr>
                  <td style="width: 100px">{{ $t('age') }}</td>
                  <td>
                    <input type="text" v-model="age" style="background-color: #fffbe6" size="8" />
                  </td>
                </tr>
                <tr>
                  <td>{{ $t('zipcode') }}</td>
                  <td><input type="text" v-model="zipcode" style="background-color: #fffbe6" size="8" /></td>
                </tr>
                <tr>
                  <td>{{ $t('gender') }}</td>
                  <td><input type="text" v-model="gender" style="background-color: #fffbe6" size="8" /></td>
                </tr>
              </table>
            </v-card>
          </v-row>
          <v-row>&nbsp;</v-row>
          <v-row style="padding-left: 10px"
            ><v-btn small color="green" outlined @click="next">{{ $t('next') }}</v-btn></v-row
          >
        </v-container>
      </v-card>
    </v-container>
    <v-container v-if="step === 2">
      <v-card
        max-width="600"
        class="mx-auto"
        elevation="0"
        style="background-color: #eeeeee; padding-left: 0; padding-right: 0"
      >
        <v-system-bar color="#aaaaaa" height="10px">
          <v-spacer></v-spacer>
        </v-system-bar>

        <v-app-bar color="white">
          <v-toolbar-title>{{ $t('questionary') }}</v-toolbar-title>

          <v-spacer></v-spacer>
        </v-app-bar>

        <v-container style="padding-left: 0; padding-right: 0">
          <v-row dense>
            <v-col cols="12">
              <v-card color="white" style="padding-left: 0; padding-right: 0">
                <v-card-subtitle>{{ $t('question.1') }}</v-card-subtitle>
                <v-card style="padding-left: 20px; padding-right: 0">
                  <v-radio-group v-model="radioColor">
                    <v-radio color="blue" v-for="n in 3" :key="n" :label="color(n)" :value="n"></v-radio>
                  </v-radio-group>
                </v-card>
              </v-card>
            </v-col>

            <v-col>
              <v-card color="white" style="padding-left: 0; padding-right: 0">
                <v-card-subtitle>{{ $t('question.2') }}</v-card-subtitle>
                <v-card style="padding-left: 30px; padding-right: 0">
                  <v-row align-content="center">
                    <div style="padding-top: 10px">{{ $t('notatall') }}</div>
                    <v-rating
                      v-model="rating"
                      empty-icon="mdi-circle-outline"
                      full-icon="mdi-radiobox-marked"
                      color="blue"
                      icon-label="custom icon label text {0} of {1}"
                    ></v-rating>
                    <div style="padding-top: 10px">{{ $t('totaly') }}</div></v-row
                  >
                  <br />
                </v-card>
              </v-card>
            </v-col>

            <v-col v-for="(item, i) in items1" :key="i" cols="12">
              <v-card :color="item.color" dark>
                <div class="d-flex flex-no-wrap justify-space-between">
                  <div>
                    <v-card-title class="headline" v-text="item.title"></v-card-title>

                    <v-card-subtitle v-text="item.artist"></v-card-subtitle>

                    <v-card-actions>
                      <v-btn
                        v-if="item.artist === 'Ellie Goulding'"
                        class="ml-2 mt-3"
                        fab
                        icon
                        height="40px"
                        right
                        width="40px"
                      >
                        <v-icon>mdi-play</v-icon>
                      </v-btn>

                      <v-btn v-else class="ml-2 mt-5" outlined rounded small> START RADIO </v-btn>
                    </v-card-actions>
                  </div>

                  <v-avatar class="ma-3" size="125" tile>
                    <v-img :src="item.src"></v-img>
                  </v-avatar>
                </div>
              </v-card>
            </v-col>
          </v-row>
          <v-row style="padding-left: 10px"
            ><v-btn small color="green" outlined @click="next">{{ $t('next') }}</v-btn></v-row
          >
        </v-container>
      </v-card>
    </v-container>
    <v-container v-if="step === 3">
      <v-card
        max-width="1100"
        class="mx-auto"
        elevation="0"
        style="background-color: #eeeeee; padding-left: 0; padding-right: 0"
      >
        <v-system-bar color="#aaaaaa" height="10px">
          <v-spacer></v-spacer>
        </v-system-bar>

        <v-app-bar color="white">
          <v-toolbar-title>Autism-Spectrum Quotient</v-toolbar-title>

          <v-spacer></v-spacer>
        </v-app-bar>
        <br />
        <v-container style="padding-left: 0; padding-right: 0">
          <v-row style="margin: 0">
            <img src="v.png" />
          </v-row>
          <v-row style="padding-left: 10px"
            ><v-btn small color="green" outlined @click="next">{{ $t('next') }}</v-btn></v-row
          >
        </v-container>
      </v-card>
    </v-container>
    <v-container v-if="step === 4">
      <v-card
        max-width="1100"
        class="mx-auto"
        elevation="0"
        style="background-color: #eeeeee; padding-left: 0; padding-right: 0"
      >
        <v-system-bar color="#aaaaaa" height="10px">
          <v-spacer></v-spacer>
        </v-system-bar>

        <v-app-bar color="white">
          <v-toolbar-title>Autism-Spectrum Quotient</v-toolbar-title>

          <v-spacer></v-spacer>
        </v-app-bar>
        <br />
        <v-container style="padding-left: 0; padding-right: 0">
          <v-row style="margin: 0">
            <table style="border-collapse: collapse">
              <thead>
                <tr>
                  <td style="border: none"></td>
                  <td
                    style="border: 1px solid; background-color: lightgray; text-align: center; width: 80px"
                    v-for="n in aqchoiches.length"
                    :key="n"
                  >
                    {{ aqchoiches[n - 1].question }}
                  </td>
                </tr>
              </thead>
              <tbody>
                <tr v-for="k in aqquestions.length" :key="k" :style="aqrowbg(k)">
                  <td style="border: 1px solid; padding-left: 10px; width: 800px">
                    {{ k }}.&nbsp;{{ aphostr(aqquestions[k - 1].question) }}
                  </td>

                  <td style="border: 1px solid; text-align: center" v-for="n in aqchoiches.length" :key="n">
                    <input type="radio" v-model="aqresp[k]" :value="n" :name="group(k)" />
                  </td>
                </tr>
              </tbody>
            </table>
          </v-row>
          <v-row style="padding-left: 10px"
            ><v-btn small color="green" outlined @click="next">{{ $t('submit') }}</v-btn></v-row
          >
          <br />
        </v-container>
      </v-card>
    </v-container>
    <v-container v-if="step === 5">
      <v-spacer />
      <br />
      <v-card
        max-width="500"
        class="mx-auto"
        elevation="0"
        style="background-color: #eeeeee; padding-left: 0; padding-right: 0"
      >
        <v-system-bar color="#aaaaaa" height="10px">
          <v-spacer></v-spacer>
        </v-system-bar>

        <v-app-bar color="white">
          <v-toolbar-title>{{ $t('thanks') }}</v-toolbar-title>

          <v-spacer></v-spacer>
        </v-app-bar>
        <br />
      </v-card>
    </v-container>
  </v-app>
</template>

<script>
import Logo from '~/components/Logo.vue'
import VuetifyLogo from '~/components/VuetifyLogo.vue'
import LanguageSwitcher from '~/components/LanguageSwitcher'

export default {
  components: {
    Logo,
    VuetifyLogo,
    LanguageSwitcher,
  },
  data: () => ({
    step: 1,
    gapi: undefined,
    radioColor: 0,
    rating: 0,
    gender: '',
    zipcode: '',
    age: undefined,
    items1: [],
    aqquestions: [],
    aqchoiches: [],
    aqresp: ['', '', '', '', '', ''],
    items: [
      {
        color: '#1F7087',
        src: 'https://cdn.vuetifyjs.com/images/cards/foster.jpg',
        title: 'Supermodel',
        artist: 'Foster the People',
      },
      {
        color: '#952175',
        src: 'https://cdn.vuetifyjs.com/images/cards/halcyon.png',
        title: 'Halcyon Days',
        artist: 'Ellie Goulding',
      },
    ],

    languages: [
      {
        id: 'en',
        title: 'English',
        flagSrc: 'united-states.png',
      },
      {
        id: 'hu',
        title: 'Magyar',
        flagSrc: 'hungary.png',
      },
    ],
    SPREADSHEET_ID: '1xpwuj9zpQICdHPWNvNuazGVe7JNOUBgfkHHxQIPT_iA',
    SPREADSHEET_ID_NEW: '1Za64uLnGEH6Pe4wvJWzCsyQFDVcOm1k2QPxhYblFzVc',
    /*
    CLIENT_ID:
      '1068873494568-ss5mnerfnbrfns7lnq6h7n6mj378l2rp.apps.googleusercontent.com',
    API_KEY: 'AIzaSyBxfwXjclHDjn9LH2KbYWlDQ06cfr12FM8',

     */
    CLIENT_ID: '756179933080-gj131c4ogp2etlehjpkripium829d2gh.apps.googleusercontent.com',
    API_KEY: 'AIzaSyBrIwQMcRYUf2C3DG3wCoVWEpGigb-Y7JU',
    SCOPE: 'https://www.googleapis.com/auth/spreadsheets',
  }),
  computed: {
    colors() {
      const ret = []
      ret.push(this.$t('red'))
      ret.push(this.$t('green'))
      ret.push(this.$t('blue'))
      return ret
    },
  },
  mounted() {
    console.log('mounted')
    this.init()
  },
  methods: {
    group(k) {
      return 'group-' + k
    },
    value(k, n) {
      return 'val-' + k + '-' + n
    },
    aqrowbg(k) {
      if (k % 2 === 0) {
        return 'background-color: beige;'
      } else {
        return 'background-color: white;'
      }
    },
    aphostr(text) {
      const uu = text.replace('u0026rsquo;', "'")
      return uu
    },
    color(n) {
      return this.colors[n - 1]
    },
    async next() {
      this.step++
      if (this.step === 5) {
        console.log('resp ', this.aqresp)
        const radios = document.getElementsByName('group-1')
        for (var i = 0, length = radios.length; i < length; i++) {
          if (radios[i].checked) {
            // do whatever you want with the checked radio
            console.log(radios[i].value)

            // only one radio can be logically checked, don't check the rest
            break
          }
        }
      }
      if (this.step === 4) {
        try {
          const url = this.$env.API_URL_RUNTIME + 'questions/aq/en'
          console.log('step 2 url: ' + url)
          const ret = await this.$axios.get(url)
          console.log('::::::: ', ret.data)
          this.aqquestions = ret.data
          const ret1 = await this.$axios.get(this.$env.API_URL_RUNTIME + 'questions/aq_ch/en')
          console.log('::::::: ', ret1.data)
          this.aqchoiches = ret1.data
        } catch (e) {
          if (e.response && e.response.status === 401) {
            this.expiredDialog = true
          } else {
            console.log('rest call catch: ' + e)
            this.$toast.error('Error while accessing the backend  server').goAway(2000)
          }
        }
      }
    },
    async test() {
      console.log('test')
      const valueRangeBody = {
        majorDimension: 'ROWS', // log each entry as a new row (vs column)
        values: [['1111', 'aaaa', 'bbbb', 'ccc']], // convert the object's values to an array
      }

      const params = {
        // The ID of the spreadsheet to update.
        spreadsheetId: this.SPREADSHEET_ID,
        // The A1 notation of a range to search for a logical table of data.Values will be appended after the last row of the table.
        range: 'Sheet1', // this is the default spreadsheet name, so unless you've changed it, or are submitting to multiple sheets, you can leave this
        // How the input data should be interpreted.
        valueInputOption: 'RAW', // RAW = if no conversion or formatting of submitted data is needed. Otherwise USER_ENTERED
        // How the input data should be inserted.
        insertDataOption: 'INSERT_ROWS', // Choose OVERWRITE OR INSERT_ROWS
      }

      const request = await this.gapi.client.sheets.spreadsheets.values.append(params, valueRangeBody)
      console.log('request', request)
    },
    async init() {
      console.log('??????????????????????????? ' + this.$route.query.token)
      if (this.$route.query.token) {
        this.$store.commit('setToken', this.$route.query.token)
      } else {
        const randToken = 'rand-' + (Math.random() * 10000 + 10000)
        this.$store.commit('setToken', randToken)
      }

      this.gapi = await this.$gapi.getGapiClient()
      console.log('login', this.gapi)
      const accessToken = ''
      const refreshCode = ''
      if (!this.gapi.auth2.getAuthInstance().currentUser.get().isSignedIn()) {
        const GoogleAuth = this.gapi.auth2.getAuthInstance()

        GoogleAuth.signIn()

        /*
        const respgr = await GoogleAuth.grantOfflineAccess()

        console.log('offlineCode', respgr.code)

        refreshCode = respgr.code
*/
        console.log('signin GoogleAuth', GoogleAuth)

        const GoogleUser = GoogleAuth.currentUser.get()

        console.log('signIn, GoogleUser', GoogleUser)

        // accessToken = GoogleUser.uc.access_token // Get access_token
        console.log('accessToken', accessToken)
      } else {
        const GoogleAuth = this.gapi.auth2.getAuthInstance()
        /*
        const respgr = await GoogleAuth.grantOfflineAccess()

        console.log('offlineCode', respgr.code)

        refreshCode = respgr.code
*/
        console.log('GoogleAuth', GoogleAuth)

        const GoogleUser = GoogleAuth.currentUser.get()

        console.log('GoogleUser', GoogleUser)

        // accessToken = GoogleUser.uc.access_token // Get access_token
        console.log('accessToken', accessToken, 'refreshCode', refreshCode)
      }
    },
  },
}
</script>
<style>
* {
  text-transform: none !important;
}
</style>
